[submodule "SimpleIdentityServer"]
	path = SimpleIdentityServer
	url = https://github.com/thabart/SimpleIdentityServer.git
	branch = master
[submodule "UmaManagerWebSite"]
	path = UmaManagerWebSite
	url = https://github.com/thabart/UmaManagerWebSite.git
	branch = master
[submodule "UmaManagerWebSiteApi"]
	path = UmaManagerWebSiteApi
	url = https://github.com/thabart/UmaManagerWebSiteApi.git
	branch = master
